body 
{ 
    background-color: rgb(22, 22, 22);
    color: azure;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.cabecalho{ 
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.cabecalho img { 
    width: 100%;
}

.container .middle img {
    width: 100%;

}

.base { 
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.base .menu{ 
    width: auto;
    background-color: rgb(22, 22, 22);
}

.base .menu ul
{ 
    background-color: rgb(138, 15, 15);
    flex-direction: row-reverse;
}

.base .menu li{
    display: inline-block;
    margin: 2%;
}

.base .menu li:hover{
    transform: scale(1.2);
    z-index: 5;
    transform-box:initial;
}

.base .menu li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}


/*INICIO DO CORPO*/

.container
{ 
    text-align: center;
}

.imagem 
{
    width: 40%;
    border-radius: 15px;
}

.container-flex {
    display: flex;
}

.flex2
{ 
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}


/*INICIO DO CORPO*/

.estrutura
{ 
    text-align: center;
}

.estrutura h3 {
    font-size: 15px;
    text-align: justify;
}

.estrutura img {
    width: 55%;
}

.estrutura .alinhad
{ 
    margin: 15%;
    text-align: right;
}

.estrutura .alinhae
{ 
    margin: 15%;
    text-align: left;
}



/* BASE - RODAPÉ*/

.rodape {width: 100%; margin-top: 10%; background-color: rgb(121, 14, 14); display: flex; position: absolute;}

.rodape p {margin-left: 5%; color: #fff;}


/*CORPO*/
.contact {
    width: 100%;
    flex-direction: row;
}

/* FORM */
.form {width: 50%; margin-left: 5%; font-size: 20px;}
.form input{background-color: #FFFF; box-shadow: 2px 2px 5px #333; sizing: 50px; border-radius: 10px; width:70%; height: 50px;}
.form textarea{background-color: #FFFF; box-shadow: 2px 2px 5px #333; margin: 5px; padding:15px ; border-radius: 10px; width: 70%;}

/* MAPA */
.onde-estamos {width: 40%; margin-right: 5%;}
aside iframe {width:100%; height: 250px; margin: 20px 0; display: flex; flex-direction: column; align: top;}
.onde-estamos {padding: 20px 8%; font-family: 'Roboto Slab', serif; font-weight: normal; width:30%; float:right; padding: 10px 20px; background-color: rgb(138, 15, 15); box-shadow: 2px 2px 5px #fff; border-radius: 5px;}

button {width:40%; padding: 10px 10px; border-radius:5px; box-shadow: 2px 2px 5px #fff; font-size: 20px;}


